.balldrop-canvas{background:#fff;border:1px solid #000}
#ballistics-demo{background:#ccc}
#spring-demo{background:#ccc}
#maze-canvas{background:#b0c4de;border:1px solid #000}
#marbles-canvas{background:#b0c4de}
.maze{width:100%;}
.maze .maze-row{margin:0;padding:0;height:20px}
.maze .maze-column{display:inline-block;width:20px}
.maze .cell{display:inline-block;width:20px;height:20px}
.maze-list{height:200px;overflow-y:scroll}

.main-container{margin-top:60px}
.center{margin:0 auto;text-align:center}

.balldrop-canvas{background:#fff;border:1px solid #000}
#ballistics-demo{background:#ccc}
#spring-demo{background:#ccc}
#collisions-demo{background:#ccc;border:1px solid #000}

#chem-sketcher{background:#fff;border:1px solid #000;margin:0 auto;text-align:center}

.drumkit{background:#8dc5d6;padding:15px;text-align:center}
.instrument-row{font:small-caps normal 12pt Arial,sans-serif;margin:0;box-sizing:border-box}
.beat-label{width:75px;display:inline-block;vertical-align:text-top}
.beat{display:inline-block;width:35px;padding:5px}
.beat-object{display:inline-block;padding:5px;border:1px solid #000;background:#fff;width:25px;height:25px;border-radius:12.5px}
.beat-object.active{background:#333}

.post{margin:10px;margin-bottom:50px;}
.post .post-details{padding:5px;border-bottom:1px dashed #ccc;border-right:1px dashed #ccc;margin-bottom:10px;}
.post .post-details .post-tag-list-item{display:inline-block;padding:2px 7px;margin:2px 4px;border:1px solid #000;}
.post .post-details .post-tag-list-item.active{background:#00f}
.post-title{font-size:18pt;text-align:center}
.tag-list-group{height:500px;overflow-y:scroll}
