.main-container{margin-top:60px}
.center{margin:0 auto;text-align:center}

#chem-sketcher{background:#fff;border:1px solid #000;margin:0 auto;text-align:center}

.post{margin:10px;margin-bottom:50px;}
.post .post-details{padding:5px;border-bottom:1px dashed #ccc;border-right:1px dashed #ccc;margin-bottom:10px;}
.post .post-details .post-tag-list-item{display:inline-block;padding:2px 7px;margin:2px 4px;border:1px solid #000;}
.post .post-details .post-tag-list-item.active{background:#00f}
.post-title{font-size:18pt;text-align:center}
