<p>This is the cloth view.</p>

<div class="row">
  <div class="col-lg-3 col-md-3 well">
    <div class="input-group">
      <span class="input-group-addon">Rows</span>
      <input class="form-control" type="number" ng-model="opts.rows" />
    </div>
    <div class="input-group">
      <span class="input-group-addon">Columns</span>
      <input class="form-control" type="number" ng-model="opts.columns" />
    </div>
    <div class="input-group">
      <span class="input-group-addon">Gravity</span>
      <input class="form-control" type="number" ng-model="opts.gravity" />
    </div>
    <div class="input-group">
      <span class="input-group-addon">Spring Constant</span>
      <input class="form-control" type="number" ng-model="opts.k" />
    </div>
    <div class="input-group">
      <span class="input-group-addon">Iterations</span>
      <input class="form-control" type="number" ng-model="opts.iterations" />
    </div>
    <button ng-click="reset()">Reset</button>
  </div>

  <div class="col-lg-9 col-md-9 well">
    <div class="row center">
      <canvas id="cloth-demo" ng-mousedown="handleMouseDown($event)", ng-mousemove="handleMouseMove($event)" ng-mouseup="handleMouseUp($event)">
      </canvas>
    </div>
  </div>
</div>
