.post
  margin 10px
  margin-bottom 50px

  .post-details
    padding 5px
    border-bottom 1px dashed #ccc
    border-right 1px dashed #ccc
    margin-bottom 10px

    .post-tag-list-item
      display inline-block
      padding 2px 7px
      margin 2px 4px
      border 1px solid black

      &.active
        background blue

.post-title
  font-size 18pt
  text-align center

.tag-list-group
  height 500px
  overflow-y scroll
